@import "reset.css";

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 90%;
}
.hidden {
  display: none;
}

#greeting,
#quote,
#weather,
#login-form {
  color: white;
  margin: 0;
  position: absolute;
}
#weather {
  top: 10px;
  right: 10px;
}
#clock {
  font-size: 150px;
  font-weight: 500;
  color: white;
}
#greeting {
  font-size: 50px;
  font-weight: 500;
  top: 30px;
}
#quote {
  bottom: 10px;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-form {
  top: 50px;
}
#login-form input {
  text-align: center;
  background-color: unset;
  border: none;
  border-bottom: 2px solid #36215c;
  color: white;
  height: 30px;
  font-size: 1.7rem;
  padding: 10px;
}
#login-form input::placeholder,
#todo-form input::placeholder {
  color: white;
}
#todo-form {
  width: 100%;
}
#todo-form input {
  color: white;
  background-color: unset;
  border: none;
  font-size: 1.7rem;
  text-align: center;
  width: 500px;
}
#todo-list {
  color: white;
  font-size: 30px;
}
#todo-list button {
  background-color: unset;
  border: none;
  margin-right: 10px;
}
